<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Image Search Abstraction Layer</h1>
        <h3>Example query usage:</h3>
        <p><b>After /search/ enter your search and optional offset.</b><br/>
        Example: https://img-search-abstractionlayer.glitch.me/search/lolcats%20funny?offset=2</p>                 <p><b>Go to /latest to see the last 10 searches</b><br/>
        Example: https://img-search-abstractionlayer.glitch.me/latest</p>
        <p>
          This site uses Google Custom Search and is limited to 100 free searches per day. If your search returns no results then check the console for "dailyLimitExceeded".
        </p>
      </div>
   </body>

</html>
